{% load static %}
{% load sitetree %}

<html>
    <head>
	    <title>Statistics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
				
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">	
				
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->
		<link rel="stylesheet" href="{% static 'css/strava.css' %}">

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
	<body>
		<div class="page-header">
			{% sitetree_menu from "mainmenu" include "trunk,topmenu" template "menu.html"%}
			<!--h1><a href="/">Statistics</a></h1-->

		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>