{% load static %}

<html>
	<style>

	</style>
    <head>
		<html lang="en">
	    <title>Statistics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>				
        <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->
        <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->		
		<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
		 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/strava.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
	<body>
	
	<!-- navbar-->
	<div class="navbar">
	  <a id="monthLink">By month</a>
	  <a id="yearLink">Year progression</a>
	  <div class="dropdown" style="float:right;">
		<button class="dropbtn" id="loginLink">{% autoescape off %}{{name}}{% endautoescape %}
		</button>
		<div class="dropdown-content">
		  	<a href="{% url 'viewSettingPost' %}"id="settingLink">Setting</a>
		  <a id="logoutLink">Logout</a>
		</div>
	  </div> 
	</div>

	<!-- checkbox list-->
	<section>
	<div class="typeClass">
		<label  style="word-wrap:break-word">
			<input id="run"  type="checkbox" value="Run" />Run
		</label>
		<label  style="word-wrap:break-word">
			<input id="ride"  type="checkbox" value="Ride" />Ride
		</label>
	</div>			
	</section>
	
	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			
			<div align="center">
				<div style="padding:10px; border:1px solid #e7e7e7;width:270px;
					background-color:#ffffff;" align="left">
					<div style="margin-bottom:10px;margin-top:15px; text-align:center;font-size:22px; font-weight:100; color:#333333;">Strava sync</div>
					<div style="padding-bottom:20px; border-bottom:1px solid #e7e7e7;">
					</div>

					<div style="margin-bottom:10px;margin-top:15px;">Profile : </div>
					<div style="padding-bottom:20px; border-bottom:1px solid #e7e7e7;">
						<div class="progressbarclass" id = "progressbar-1"></div>
						<div style="display:inline-block;"><span class="pourcent" id="p1" pourcent="70">1</span>
							<span id="fp1" style="color:#cb2025;">%</span>
						</div>
					</div>
					<div style="margin-bottom:10px;margin-top:15px;">Activities : </div>
					<div style="padding-bottom:20px; border-bottom:1px solid #e7e7e7;">
						<div class="progressbarclass" id = "progressbar-2"></div>
						<div style="display:inline-block;"><span class="pourcent" id="p2" pourcent="100">1</span>
							<span id="fp2" style="color:#cb2025;">%</span>
						</div>
					</div>	
				</div>
			</div>
			
			
		</div>

	</div>
	

	
	<p>{{html}}</p>
	
	<section>
		<div class="log">
		<p id="testgv">{{html}}</p>
		</div>
	</section>

	<section>
		<div class="content" id="id_content">
			{% block content %}
			{% endblock %}
		</div>
	</section>
		
	</body>

</html>

<script type='text/javascript'>	
	
	var modal = document.getElementById("myModal");

 $(document).ready(function() {
	var source;		


	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	/*window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}*/

	//setTimeout( closeEvent, 5000 ); 
	
	$( "#progressbar-1" ).progressbar({
		value: 0,
		max:100
	});
	$( "#p1" ).html(0);
	

	//setTimeout( closeEvent, 3000 );


	$( "#progressbar-2" ).progressbar({
	value: 60
	});
	$( "#p2" ).html(60);


	// Store the page type
{% if actif == 1 %}sessionStorage.setItem("pageType", "month");{% endif %}
{% if actif == 2 %}sessionStorage.setItem("pageType", "year");{% endif %}
{% if actif == 3 %}sessionStorage.setItem("pageType", "login");{% endif %}	
{% if isLogged %} 
sessionStorage.setItem("isLogged", "1");
{% else %}
sessionStorage.setItem("isLogged", "0");
{% endif %}	

	updateMenu();
	
	$("#run").prop("checked", true);
	
	//Trigger defaut pageType
	{% if actif != 3 %}
	sendPostMessage(GetActivityType(), sessionStorage.getItem("pageType"));
	{% endif %}
 
 	$("#monthLink").click(function(){
		sessionStorage.setItem("pageType", "month");
		sendPostMessage(GetActivityType(), "month");
		updateMenu();
	});
	
	$("#yearLink").click(function(){
		sessionStorage.setItem("pageType", "year");
		sendPostMessage(GetActivityType(), "year");	
		updateMenu();
	});
	
	$("#loginLink").click(function(){
		if (!isLogged()) {
			sessionStorage.setItem("pageType", "login");
			
			// callback link from strava depends on DEV / PROD mode 
			{% if  dev %}
			window.location.href = "http://www.strava.com/oauth/authorize?client_id=9402&response_type=code&redirect_uri=http://127.0.0.1:8000/login/&approval_prompt=auto&scope=read_all,profile:read_all,activity:read_all";
			{% else %}
			window.location.href = "http://www.strava.com/oauth/authorize?client_id=9402&response_type=code&redirect_uri=http://mypersonalstat.ddns.net/login/&approval_prompt=auto&scope=read_all,profile:read_all,activity:read_all";
			{% endif %}	
		}
	});
	
	$("#settingLink").click(function(){		
		/*sessionStorage.setItem("pageType", "setting");
		sendPostMessage(GetActivityType(), "setting");	
		updateMenu();*/
	});
	
	$("#logoutLink").click(function(){
		sessionStorage.setItem("pageType", "logout");
		sendPostMessage(GetActivityType(), "logout");	
		sessionStorage.setItem("isLogged", "0");
		updateMenu();
	});
 
	$("#run").change(function(){
			$("#ride").prop("checked", false);			
			sendPostMessage(GetActivityType(), sessionStorage.getItem("pageType"));
	});

	$("#ride").change(function(){
			$("#run").prop("checked", false);	
			sendPostMessage(GetActivityType(), sessionStorage.getItem("pageType"))		
	});

 });
 
function GetActivityType() {
	type=[];
	if ($('#run').is(":checked")) {
		type.push("run")
	}
	if ($('#ride').is(":checked")) {
		type.push("ride")		
	}
	return type
}

function isLogged() {
	if (sessionStorage.getItem("isLogged") == 1) 
		return true;	
	else
		return false;
}


 
function sendPostMessage(activityType, pageType) {
	// make POST ajax call
	$('html, body').css("cursor", "wait");
	$.ajax({
		type: 'POST',
		url: "{% url 'post_ajax' %}",
		data: "activityType=" + activityType + ";pageType=" + pageType,
		success: function (response) {
			//alert("ajax ok");	
			log1 = response["log"]
			data = response["data"]
	
			$("#testgv").text(function(i, origText){
			return log1; 
			});
			
			//console.log(" data length : " +data.length);			
			
			$("#id_content").html(data);
			///document.getElementById("id_content").innerHTML = data; // dont work !!!
			
			$('html, body').css("cursor", "auto");
		}
	})

  return;
}


function updateMenu() {
	if (sessionStorage.getItem("pageType") == "month")
	{
		$('#monthLink').css('background-color', '#858585');
		$('#yearLink').css('background-color', '#222');
		$('#loginLink').css('background-color', '#222');
		$('.typeClass').show();
	}
	else if (sessionStorage.getItem("pageType") == "year")
	{
		$('#yearLink').css('background-color', '#858585');
		$('#monthLink').css('background-color', '#222');
		$('#loginLink').css('background-color', '#222');
		$('.typeClass').show();
	}
	else if (sessionStorage.getItem("pageType") == "login")
	{
		$('#loginLink').css('background-color', '#858585');
		$('#monthLink').css('background-color', '#222');
		$('#yearLink').css('background-color', '#222');
		$('.typeClass').hide();		
	}

	if (isLogged())
	{
		console.log("====> Logged ")
		//$('#loginLink').html("Gael Viclin " +  "<i class=\"fa fa-caret-down\"></i>");
		$('.dropdown').hover(
			  function() {
				$('.dropdown-content').css("display", "block");
			}, function() {
				$('.dropdown-content').css("display", "none");
			}
		);
		//deactivate login button
		$('.dropbtn').css( 'cursor', 'default');
		
		syncStrava();
	}
	else
	{
		
		console.log("====> Not logged ")
		$('#loginLink').html("Login ");
		$('.dropdown').hover(
			  function() {
				$('.dropdown-content').css("display", "none");
			}, function() {
				$('.dropdown-content').css("display", "none");
			}
		);
		//activate login button
		$('.dropbtn').css( 'cursor', 'pointer');
		$('.typeClass').hide();	
	}
}

function startEventListening() {	
	if(typeof(EventSource) !== "undefined") {
		console.log("startEventListening")
		source = new EventSource("{% url 'stream' %}");
		
		source.onmessage = function(event) {
			var dict = JSON.parse(event.data)
			result = dict["result"]
			progressValue = dict["progressValue"]
			console.log('event.data : ' + result);
			progress(progressValue);
			
		};
		
		source.onopen = function(event) {
			console.log("onopen : Server side event connected to server !")
		};
		
		source.onerror = function(event) {
			console.log("onerror : Server side event connected to server !")
			if (event.readyState == EventSource.CLOSED) {
				console.log('onerror : closed');
			}
		};
	} else {
		document.getElementById("ss").innerHTML = "Sorry, your browser does not support server-sent events...";
	}
}

	
function closeEvent() {
	console.log("closeEvent : Server side event disconnected from server !")
	source.close();

}

function progress(progressValue) {
	var progressbar = $( "#progressbar-1" );
	/*var val = progressbar.progressbar( "value" ) || 0;
	if (val <= 80) {
		//console.log("progressbar value : " + val)
		val += 20
		progressbar.progressbar( "value", val);
		$( "#p1" ).html(val);
		if ( val == 100 ) {
			//setTimeout( progress, 20 );
			closeEvent()
		}
	}*/
	console.log("progressbar value : " + progressValue)
	progressbar.progressbar( "value", progressValue);
	$( "#p1" ).html(progressValue);
	if ( progressValue >= 100 ) {
		progressbar.progressbar( "value", 100);
		$( "#p1" ).html(100);
		closeEvent();
		function hide() {
			modal.style.display = "none";
		}
		setTimeout( hide, 2000 ); 

		
	}
}

function syncStrava() {
	modal.style.display = "block";
		  
		  
	startEventListening();
		  
}

	
	
 </script>
